/* fonts */

@font-face {
	font-family: "Open Sans";
	font-weight: 300;
	font-style: normal;
	src:	local("Open Sans"),
				url("../fonts/opensanslight.woff2") format("woff2"),
				url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	font-style: normal;
	src:	local("Open Sans"),
				url("../fonts/opensans.woff2") format("woff2"),
				url("../fonts/opensans.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-weight: 300;
	font-style: normal;
	src:	local("Gilroy"),
				url("../fonts/gilroylight.woff2") format("woff2"),
				url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-weight: 800;
	font-style: normal;
	src:	local("Gilroy"),
				url("../fonts/gilroyextrabold.woff2") format("woff2"),
				url("../fonts/gilroyextrabold.woff") format("woff");
}

/* variables */

:root {
	--basic-black: #000;
	--basic-dark: #363636;
	--basic-white: #fff;
	--basic-grey: #464646;
	--basic-half-grey: #7e7e7e;
	--basic-grey-light: #e5e5e5;
	--special-yellow: #f7e296;
	--special-green: #91c92f;
	--special-yellow-dark: #f0c52e;

	--map-bg: #f8f9fa;
	--catalog-photo-bg: #eeeeee;
	--text-black30: #00000030;
	--text-white30: #ffffff30;
	--pag-hover: #d9d9d9;
	--fb-field: #f2f2f2;
	--fb-field-hover: #eaeaea;
	--fb-field-out-focus: #f7e296;
	--fb-field-invalid: #f6dada;
	--footer-decor: #ffc600;
	--catalog-bar: #dcdcdc;
	--range-bar: #00000020;
	--range-toggle: #c4c4c4;
	--range-toggle-shadow: #cfcfcf;
	--pag: #ebebeb;

	--no-opacity: 1;
	--low-opacity: 0.6;
	--mid-opacity: 0.3;
	--high-opacity: 0.1;
}

/* global */

.page {
	height: 100%;
}

.page-body {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	min-width: 1160px;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: var(--basic-black);
}

.container {
	width: 1160px;
	margin: 0 auto;
}

a {
	color: var(--basic-black);
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.title-high {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
}

.title-mid {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.btn {
	position: relative;
	display: block;
	padding: 0 44px;	
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
}

.btn::before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 8px;
	background-color: var(--special-yellow-dark);
}

.btn:hover::before,
.btn:focus::before,
.service-item.current .btn::before,
.service-item.current .btn::before {
	height: 40px;
}

.btn:active {
	color: var(--text-black30);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* main header */

.main-header {
	padding-top: 40px;
}

.inner-page .main-header {
	margin-bottom: 40px;
}

.main-header-bar {
	padding-bottom: 20px;
	background-color: var(--special-yellow);
}

.inner-page .main-header-bar {
	padding-bottom: 50px;
}

/* main navigation */

.main-navigation {
	position: relative; /* main logo */
	padding: 30px 60px 0 60px;
}

/* main logo */

.main-navigation .main-logo {
	position: absolute;
	top: -20px;
	left: 60px;
}

.main-logo[href]:hover,
.main-logo[href]:focus {
	opacity: var(--low-opacity);
}

.main-logo[href]:active {
	opacity: var(--mid-opacity);
}

/* nav section top */

.nav-section-top {
	display: grid;
	grid-template-columns: 500px auto;
	column-gap: 40px;
	align-items: center;
	margin-bottom: 35px;
}

/* search */

.search-form {
	position: relative; /* search icon */
	display: flex;
	width: 440px;
}

.search-form::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 48px;
	background-image: url("../img/search.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	pointer-events: none;
}

.search-input {
	display: flex;
	flex-grow: 1;
	height: 48px;
	padding: 0 40px;
	background-color: var(--special-yellow);
	border: 0;
	border-bottom: 2px solid var(--special-yellow);
}

.search-input:focus {
	outline: none;
	border-bottom: 2px solid var(--basic-black);
}

.search-input,
.search-input::placeholder {
	font: inherit;
	line-height: 48px;
}

.search-input::placeholder {
	opacity: var(--mid-opacity);
}

.search-input:hover::placeholder,
.search-input:focus::placeholder {
	opacity: var(--low-opacity);
}

.search-btn {
	display: none;
	justify-content: center;
	width: 84px;
	height: 48px;
	padding: 0;
	font: inherit;
	line-height: 46px;
	text-transform: uppercase;
	background-color: var(--special-yellow);
	border: 0;
	border: 2px solid var(--basic-black);
	cursor: pointer;
}

.search-btn:hover,
.search-btn:focus {
	color: var(--basic-white);
	background-color: var(--basic-black);
}

.search-btn:active {
	color: var(--text-white30);
}

/* will be change with js */

.search-input:focus + .search-btn {
	display: flex;
}

/* profile navigation */

.profile-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
}

.profile-navigation-item {
	margin-left: 40px;
	margin-bottom: 5px;
}

.profile-navigation-link {
	position: relative;
	display: block;
	padding-left: 20px;
	line-height: 20px;
}

.profile-navigation-link svg {
	position: absolute;
	top: 50%;
	transform: translateY(-35%);
	left: 0;
}

.profile-navigation-login {
	display: flex;
	height: 20px;
	margin: 0;
	margin-right: auto;
}

.nav-section-top .logout-link {
	opacity: var(--mid-opacity);
}

/* site navigation */

.nav-section-bottom .site-navigation {
	display: grid;
	grid-template-columns: 500px auto;
	column-gap: 40px;
}

.site-navigation-group {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-section-bottom .site-navigation-group {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.site-navigation-group-two {
	justify-content: flex-end;
}

.nav-section-bottom .site-navigation-item {
	margin-right: 35px;
	margin-bottom: 5px;
}

.nav-section-bottom .site-navigation-item:last-child {
	margin-right: 0;
}

.site-navigation-group-two .site-navigation-item:nth-child(3) {
	margin-right: 0;
	margin-left: auto;
	page-break-after: always;
}

.site-navigation-group-two .site-navigation-item:nth-child(n + 4) {
	margin-right: 0;
	margin-left: 35px;
}

/* dropdown */

.site-navigation-dropdown {
	display: flex;
	align-items: center;
}

.site-navigation-dropdown svg  {
	margin-left: 15px;
}

/* will be change with js */

.site-navigation-catalog:hover > .dropdown-wrapper {
	display: block;
}

.dropdown-wrapper {
	position: absolute;
	z-index: 1;
	bottom: -165px;
	left: 0;
	display: none;
	width: 100%;
	padding-top: 5px;
}

.dropdown {
	display: flex;
	width: calc(100% - 120px);
	height: 125px;
	margin: 0;
	padding: 20px 60px 20px;
	list-style: none;
	background-color: var(--special-yellow);
}

.dropdown-item:nth-child(1) {
	width: 200px;
	margin-right: 40px;
}

.dropdown-item:nth-child(2) {
	width: 160px;
	margin-right: 25px;
}

.dropdown-link {
	display: block;
	padding: 10px 0;
}

.dropdown-link:hover,
.dropdown-link:focus {
	opacity: var(--low-opacity);
}

.dropdown-link:active {
	opacity: var(--mid-opacity);
}

.dropdown-link-current,
.dropdown-link-current:hover,
.dropdown-link-current:focus,
.dropdown-link-current:active {
	opacity: var(--mid-opacity);
	cursor: auto;
}

.profile-navigation {
	list-style: none;
}

.site-navigation-link {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;	
}

.nav-section-top .profile-navigation-link:hover,
.nav-section-top .profile-navigation-link:focus,
.site-navigation-link:hover,
.site-navigation-link:focus {
	opacity: var(--low-opacity);
}

.nav-section-top .profile-navigation-link:active,
.site-navigation-link:active {
	opacity: var(--mid-opacity);
}

/* products */

.products {
	position: relative;
	margin-bottom: 76px;
}

.products::before {
	content: "";
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 145px;
	background-color: var(--special-yellow);
}

.products-list {
	margin: 0;
	padding: 0 60px;
	list-style: none;
}

.product-item {
	display: none;
	grid-template-columns: auto 1fr;
	column-gap: 100px;
}

.product-item.current {
	display: grid;
}

.product-photo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 440px;
	padding-top: 10px;
	text-align: center;
}

.product-item-1 img {
	max-width: 384px;
	height: 486px;
}

.product-item-2 img {
	max-width: 345px;
	height: 485px;
}

.product-item-3 img {
	max-width: 526px;
	height: 334px;
}

.product-info {
	position: relative;
	padding-top: 105px;
	padding-bottom: 20px;
}

.product-info::before {
	content: "";
	position: absolute;
	top: 45px;
	left: 0;
	width: 100px;
	height: 7px;
	background-color: var(--basic-white);
}

.product-item h2 {
	position: absolute;
	top: 0;
	right: -10px;
	margin: 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 179px;
	line-height: 219px;
	color: var(--basic-white);
}

.product-item .title-high {
	display: block;
	width: 400px;
	margin-bottom: 30px;
	letter-spacing: 0;
}

.product-item-3 .title-high {
	position: relative;
	width: 500px;
}

.product-descr {
	margin-bottom: 60px;
	line-height: 20px;
}

.product-info .btn {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 60px;
}

.product-data ul {
	display: grid;
	grid-template-columns: 160px 140px 200px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.product-item-2 ul {
	grid-template-columns: auto;
}

.product-item-3 ul {
	grid-template-columns: 160px auto;
	column-gap: 40px;
}

.product-data li {
	display: grid;
}

.product-data b {	
	order: 1;
	display: block;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
}

.product-data p {
	margin: 0;
	margin-bottom: 15px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.1em;
}

.prod-controls {
	position: absolute;
	top: 340px;
	left: 990px;
	display: flex;
}

.prod-controls .button {
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	background-color: var(--basic-white);
	background-image: url("../img/dot-large.svg");
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: 50% 50%;
	border: none;
	cursor: pointer;
}

.prod-controls .button.current {
	background-image: url("../img/dot-small.svg");
}

.prod-controls .button:last-child {
	margin: 0;
}

/* categories */

.categories {
	margin-bottom: 50px;
}

.categories-list {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 40px;
	padding: 20px 0;
	list-style: none;
}

.category-item a:hover .category-photo,
.category-item a:focus .category-photo {
	background-color: var(--special-yellow-dark);
}

.category-item a:active img,
.category-item a:active h3 {
	opacity: var(--mid-opacity);
}

.category-photo {
	background-color: var(--special-yellow);
	width: 160px;
	height: 160px;
	margin-bottom: 38px;
}

.category-photo img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.category-item h3 {
	margin: 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
}

/* services */

.services {
	position: relative;
	margin-bottom: 90px;
	padding-top: 85px;
	padding-bottom: 130px;
	background-color: var(--basic-grey-light);
}

.services::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 115px;
	background-color: var(--basic-white);
}

.services .container {
	display: grid;
	grid-template-columns: 280px auto;
	column-gap: 120px;
}

.services-list {
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	list-style: none;
}

.services-list::before {
	content: "";
	position: absolute;
	top: -70px;
	left: 100%;
	width: 7px;
	height: 320px;
	background-color: var(--basic-black);
}

.service-item {
	width: 160px;
	margin-bottom: 40px;
}

.service-item .btn {
	padding: 0;
}

.service-item .btn:active,
.service-item.current .btn {
	color: var(--special-yellow);
}

.service-item .btn:active::before,
.service-item.current .btn::before {
	left: 0;
	transform: translate(0, -50%);
	width: 280px;
	background-color: var(--basic-black);
}

.service-item:last-child {
	margin-bottom: 0;
}

.service-info {
	margin: 0;
	padding: 0;
	list-style: none;
}

.info-item {
	position: relative;
	display: none;
}

.info-item.current {
	display: block;
}

.info-item img {
	position: absolute;
	top: 0;
	right: 0;
}

.info-item .title-high {
	margin: 0;
	margin-bottom: 40px;
}

.info-item .service-descr {
	width: 500px;
	margin: 0;
	line-height: 30px;
	letter-spacing: 0.1em;
}

/* partners */

.partners {
	margin-bottom: 90px;
}

.partners-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 40px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.partner-link img {
	filter: grayscale(100%);
	opacity: 0.2;
}

.partner-link:hover img {
	filter: grayscale(0%);
	opacity: 1;
}

/* about */

.about-and-contacts {
	display: grid;
	grid-template-columns: 500px auto;
	column-gap: 100px;
	margin-bottom: 85px;
	padding-top: 55px;
}

.about,
.contacts {
	position: relative;
}

.about::before,
.contacts::before {
	content: "";
	position: absolute;
	top: -60px;
	left: 0;
	width: 80px;
	height: 7px;
	background-color: var(--basic-black);
}

.about .title-high,
.contacts .title-high {
	margin: 0;
	margin-bottom: 40px;
}

.about p {
	margin: 0;
	line-height: 28px;
}

.about .about-descr-one {
	margin-bottom: 40px;
}

.about .about-descr-two {
	margin-bottom: 60px;
}

.about-delivery {
	margin: 0;
	margin-bottom: 75px;
	padding: 0;
	padding-left: 30px;
	list-style: none;
}

.about-delivery li {
	position: relative;
	margin-bottom: 15px;
}

.about-delivery li::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
	transform: translateY(-50%);
	display: block;
	width: 4px;
	height: 4px;
	border: 2px solid var(--basic-grey-light);
	border-radius: 50%;
}

.about-delivery li:last-child {
	margin-bottom: 0;
}

.about-delivery a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 28px;
}

.about-and-contacts .btn {
	width: 260px;
	padding: 0;
}

/* contacts */

.contacts {
	display: flex;
	flex-direction: column;
}

.contacts p {
	margin: 0;
	margin-bottom: 40px;
	line-height: 28px;
}

.map {
	margin-bottom: auto;
}

.map img {
	background-color: var(--map-bg);
}

/* main footer */

.main-footer {
	padding-top: 45px;
	padding-bottom: 65px;
	color: var(--basic-white);
	background-color: var(--basic-dark);
}

.main-footer a {
	color: var(--basic-white);
}

.footer-high {
	display: grid;
	grid-template-columns: auto 560px;
	margin-bottom: 40px;
}

.footer-high .main-logo {
	width: 163px;
	padding-top: 20px;
}

.footer-high .profile-navigation-login {
	margin-right: 0;
}

.footer-high .profile-navigation-link span {
	opacity: var(--low-opacity);
}

.footer-high .profile-navigation-link:hover svg,
.footer-high .profile-navigation-link:focus svg {
	opacity: var(--low-opacity);
}

.footer-high .profile-navigation-link:hover span,
.footer-high .profile-navigation-link:focus span {
	opacity: var(--no-opacity);
}

.footer-high .profile-navigation-link:active {
	opacity: var(--mid-opacity);
}

.footer-mid {
	display: grid;
	grid-template-columns: 260px 1fr 260px;
	align-items: center;
	margin-bottom: 55px;
}

.footer-mid p {
	margin: 0;
	margin-bottom: 5px;
}

.footer-mid .site-navigation-group {
	justify-self: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 500px;
}

.footer-mid .site-navigation-item {
	margin: 0 18px;
	margin-bottom: 5px;
}

.footer-phone {
	justify-self: end;
}

.footer-low {
	position: relative;
	display: grid;
	grid-template-columns: 260px 1fr 260px;
	align-items: center;
}

.footer-low::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 80px;
	height: 7px;
	background-color: var(--footer-decor);
}

.footer-social {
	grid-column-start: 2;
	justify-self: center;
}

.social-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.social-item {
	margin: 0 10px;
}

.social-link svg {
	opacity: var(--mid-opacity);
}

.social-link:hover svg,
.social-link:focus svg {
	opacity: var(--low-opacity);
}

.social-link:active svg {
	opacity: var(--high-opacity);
}

.footer-copyright {
	justify-self: end;
}

.footer-copyright:hover svg,
.footer-copyright:focus svg {
	opacity: var(--low-opacity);
}

.footer-copyright:active svg {
	opacity: var(--mid-opacity);
}

/* page Header */

.page-header {
	margin-bottom: 50px;
}

.page-header .wrapper {
	padding: 0 60px;
}

.page-header .title-high {
	margin: 0;
	margin-bottom: 30px;
	letter-spacing: 0;
}

/* breadcrumbs */

.breadcrumbs {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs-item {
	position: relative;
	margin: 0 20px;
}

.breadcrumbs-item::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -23px;
	width: 6px;
	height: 6px;
	background-image: url("../img/path.svg");
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.breadcrumbs-item:last-child::before {
	display: none;
}

.breadcrumbs-item:first-child {
	margin-left: 0;
}

.breadcrumbs-item:last-child {
	margin-right: 0;
}

.breadcrumbs-link {
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 14px;
	opacity: var(--mid-opacity);
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
	opacity: var(--low-opacity);
}

.breadcrumbs-link:active {
	opacity: var(--high-opacity);
}

.breadcrumbs-link-current:hover,
.breadcrumbs-link-current:focus,
.breadcrumbs-link-current:active {
	opacity: var(--mid-opacity);
}

/* catalog */

.catalog-top {
	position: relative;
	background-color: var(--catalog-bar);
}

.catalog-top .container {
	display: grid;
	grid-template-columns: 268px auto;
	column-gap: 72px;
}

.catalog-top .container::before {
	content: "";
	position: absolute;
	top: 0;
	left: calc((100vw - (100vw - 100%) - 1040px) / 2 + 268px);
	height: 100%;
	width: calc((100vw - (100vw - 100%)) - ((100vw - (100vw - 100%) - 1040px) / 2) - 268px);
	background-color: var(--basic-grey-light);
}

.catalog-bottom {
	position: relative;
}

.catalog-bottom::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: calc((100vw - (100vw - 100%) - 1040px) / 2);
	background-color: var(--basic-grey-light);
}

.catalog-bottom .container {
	display: grid;
	grid-template-columns: 328px auto;
	column-gap: 72px;
}

/* filters */

.filter-btn {
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
}

.filter-btn .btn {
	z-index: 100;
}

.filters-header {
	display: grid;
	align-items: center;
	padding-left: 60px;
}

.filters {
	padding-top: 90px;
	padding-left: 60px;
	background-color: var(--basic-grey-light);
}

.filters ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.filter-option {
	margin-bottom: 22px;
}

.filter-option:last-child {
	margin-bottom: 0;
}

.filter fieldset {
	margin: 0;
	margin-bottom: 50px;
	padding: 0;
	border: 0;
}

.filter fieldset:nth-child(2) {
	margin-bottom: 60px;
}

.filter fieldset:nth-child(3) {
	margin-bottom: 50px;
}

.filter legend {
	position: relative;
	margin-top: 14px;
	margin-bottom: 35px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.1em;
}

.filter legend::before {
	content: "";
	position: absolute;
	top: -15px;
	left: 0;
	width: 200px;
	height: 2px;
	background: var(--basic-black);
}

.filter .legend-range {
	margin-bottom: 30px;
}

.filter-option label {
	position: relative;	
	display: block;
	padding-left: 44px;
	cursor: pointer;
	user-select: none;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 19px;
	height: 19px;
	border: 2px solid var(--basic-black);
	border-radius: 2px;
}

.filter-input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 4px;
	width: 14px;
	height: 11px;
	background-image: url("../img/checkbox.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.filter-input-radio + label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 19px;
	height: 19px;
	border: 2px solid var(--basic-black);
	border-radius: 50%;
}

.filter-input-radio:checked + label::after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 7.5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: var(--basic-black);
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label,
.filter-input-radio:hover + label,
.filter-input-radio:focus + label {
	opacity: 0.6;
}

.filter-input-checkbox:active + label,
.filter-input-radio:active + label {
	opacity: 1;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
	opacity: 0.25;
}

/* range */

.range-filter {
	width: 200px;
	padding-top: 10px;
}

.range-controls {
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.range-controls .scale {
	width: 100%;
	height: 2px;
	background: var(--range-bar);
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background: var(--special-green);
}

.range-controls .toggle {
	position: absolute;
	top: -10px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid var(--basic-white);
	background-color: var(--range-toggle);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 var(--range-toggle-shadow);
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 0;
}

.range-controls .toggle-max {
	left: calc(70% - 10px);
}

.price-controls label {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
}

.price-controls {
	display: flex;
}

.price-controls input {
	width: 60px;
	font-family: inherit;
	font-size: inherit;
	background-color: var(--basic-grey-light);
	border: none;
	outline: none;
}

.price-controls input[name="min-price"] {
	margin-right: 12px;
}

/* sorter */

.sorter {
	z-index: 1;
	display: grid;
	grid-template-columns: 200px auto 1fr;
	align-items: center;
	min-height: 70px;
	padding-left: 60px;
	background-color: var(--basic-grey-light);
}

.sorter-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sorter-list li {
	margin: 0 15px;
}

.sorter-list li:first-child {
	margin-left: 0;
}

.sorter-list li:last-child {
	margin-right: 0;
}

.sorter-item button {
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	font-size: 14px;
	opacity: var(--mid-opacity);
	background: none;
	border: none;
	cursor: pointer;
}

.sorter-item button:hover,
.sorter-item button:focus {
	opacity: var(--low-opacity);
}

.sorter-item button:active {
	opacity: var(--no-opacity);
}

.sorter-item-current button,
.sorter-item-current button:hover,
.sorter-item-current button:focus,
.sorter-item-current button:active {
	opacity: var(--no-opacity);
	cursor: auto;
}

/* order */

.order-list {
	justify-self: end;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.order-item {
	margin-right: 20px;
	font-size: 0;
}

.order-item:last-child {
	margin-right: 0;
}

.order-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18px;
	height: 18px;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
}

.order-item-current .order-link {
	cursor: auto;
}

.order-link svg {
	opacity: 1;
}

.order-item .order-link:hover svg,
.order-item .order-link:focus svg {
	opacity: 0.4;
}

.order-item .order-link:active svg {
	opacity: 1;
}

.order-item-current .order-link svg,
.order-item-current .order-link:hover svg,
.order-item-current .order-link:focus svg,
.order-item-current .order-link:active svg {
	opacity: 0.2;
}

/* catalog */

.catalog {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 40px;
	padding: 68px 0 78px 0;
}

.catalog-item {
	position: relative;
	margin-bottom: 48px;
}

.catalog-item:nth-last-of-type(-n+2) {
	margin-bottom: 40px;
}

.catalog-item-new::before {
	content: "New";
	position: absolute;
	top: 30px;
	right: 25px;
	z-index: 101;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 62px;
	height: 62px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 12px;
	line-height: 15px;
	color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 50%;
}

.catalog-photo {
	margin-bottom: 30px;
}

.catalog-photo img {
	width: 360px;
	height: 380px;
	object-fit: contain;
	background-color: var(--catalog-photo-bg);
}

.catalog-item-descr {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.catalog-item h3 {
	width: 270px;
	margin: 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
}

.catalog-item p {
	margin: 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.05em;
}

.catalog-photo {
	position: relative;
}

.catalog-photo:hover > .catalog-item-links {
	display: flex;
}

.catalog-item-links {
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: calc(100% - 5px);
	height: calc(100% - 5px);
	display: none;
	padding-top: 50px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(238, 238, 238, 0.7);
}

.catalog-item-links .btn {
	margin-bottom: 22px;
}

.btn-add-to-match {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.1em;
	color: var(--basic-black);
	opacity: 0.5;
}

.btn-add-to-match:hover,
.btn-add-to-match:focus {
	opacity: 1;
}

.btn-add-to-match:active {
	opacity: 0.2;
}

/* pagination */

.pagination {
	grid-column-start: 1;
	grid-column-end: -1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--pag);
}

.pagination-list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination-link {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
}

.pagination-link-prev,
.pagination-link-next {
	width: 120px;
	height: 70px;
}

.pagination-link-prev:hover,
.pagination-link-prev:focus,
.pagination-link-next:hover,
.pagination-link-next:focus {
	background-color: var(--pag-hover);
}

.pagination-link-prev:active,
.pagination-link-next:active {
	color: var(--text-black30);
}

.pagination-link.disabled,
.pagination-link.disabled:hover,
.pagination-link.disabled:focus,
.pagination-link.disabled:active {
	color: var(--text-black30);
	background-color: var(--pag-hover);
	cursor: auto;
}

.pagination-list .pagination-link {
	width: 40px;
	height: 70px;
}

.pagination-item a {
	opacity: var(--mid-opacity);
}

.pagination-item a:hover,
.pagination-item a:focus {
	opacity: var(--low-opacity);
}

.pagination-item .pagination-link-current,
.pagination-item a:active {
	opacity: var(--no-opacity);
}

/* modal login */

.modal {
	display: none;
	box-sizing: border-box;
	position: fixed;
	top: calc(50% - 275px);
	left: calc(50% - 480px);
	z-index: 100;
	width: 960px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.modal-show {
	display: block;
	animation-name: fromTop;
	animation-duration: 400ms;
}

.modal-error {
	animation-name: shake;
	animation-duration: 400ms;
}

.modal-feedback {
	padding: 90px 100px 70px;
}

.form-feedback {
	display: grid;
}

.feedback-group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 30px;
	margin-bottom: 30px;
}

.feedback-field {
	display: flex;
	flex-direction: column;
}

.feedback-field label {
	margin-bottom: 10px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
}

.feedback-field input,
.feedback-field textarea {
	font: inherit;
	background-color: var(--fb-field);
	border: none;
}

.feedback-field input::placeholder,
.feedback-field textarea::placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.feedback-field input:hover,
.feedback-field textarea:hover {
	background-color: var(--fb-field-hover);
}

.feedback-field input:focus,
.feedback-field textarea:focus {
	background-color: var(--basic-white);
	outline: 2px solid var(--fb-field-out-focus);
}

.feedback-field input:invalid,
.feedback-field textarea:invalid {
	background-color: var(--fb-field-invalid);
	outline: none;
	box-shadow: none;
}

.feedback-field input {
	padding: 15px 20px;
}

.feedback-field textarea {
	box-sizing: border-box;
	height: 165px;
	padding: 15px 20px;
	resize: none;
}

.message-field {
	margin-bottom: 50px;
}

.feedback-btn {
	justify-self: start;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
}

.feedback-btn .btn {
	width: 200px;
}

.modal-close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55px;
	height: 55px;
	font-size: 0;
	background: var(--special-yellow-dark);
	border: none;
	border-radius: 50%;
	outline: none;
	opacity: 0.5;
	cursor: pointer;
}

.modal-close-btn:hover {
	opacity: 1;
}

.modal-close-btn:active {
	opacity: 0.3;
}

/* modal map */

.modal-map {
	height: 550px;
}

.modal-map iframe {
	background-color: var(--map-bg);
	background-image: url("../img/map-large.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

/* animation */

@keyframes fromTop {
	0%		{transform: translateY(-200%);}
	100%	{transform: translateY(0);}
}

@keyframes shake {
	0%, 100% 									{transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% 	{transform: translateX(-10px);}
	20%, 40%, 60%, 80%				{transform: translateX(10px);}
}