/* Fonts */

@font-face {
	font-family: "Open Sans";
	font-weight: 300;
	font-style: normal;
	src:	local("Open Sans"),
			url("../fonts/opensanslight.woff2") format("woff2"),
			url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	font-style: normal;
	src:	local("Open Sans"),
			url("../fonts/opensans.woff2") format("woff2"),
			url("../fonts/opensans.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-weight: 300;
	font-style: normal;
	src:	local("Gilroy"),
			url("../fonts/gilroylight.woff2") format("woff2"),
			url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-weight: 800;
	font-style: normal;
	src:	local("Gilroy"),
			url("../fonts/gilroyextrabold.woff2") format("woff2"),
			url("../fonts/gilroyextrabold.woff") format("woff");
}

/* Variables */

:root {
	--basic-black: #000000;
	--basic-dark: #363636;
	--basic-white: #ffffff;
	--basic-grey: #464646;
	--basic-half-grey: #7e7e7e;
	--basic-grey-light: #e5e5e5;
	--special-yellow: #f7e296;
	--special-green: #91c92f;
	--special-yellow-dark: #f0c52e;

	--no-opacity: 1;
	--low-opacity: 0.6;
	--mid-opacity: 0.3;
	--high-opacity: 0.1;
}

/* Global */

.page {
	height: 100%;
}

.page-body {
	min-width: 1160px;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: var(--basic-black);

	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
}

a {
	color: var(--basic-black);
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.hidden {
	display: none;
}

.title-high {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
}

.title-mid {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.btn {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.container1160 {
	width: 1160px;
	margin: 0 auto;
}

.container1040 {
	width: 1040px;
	margin: 0 auto;
}

/*  Main Header */

.main-header {
	padding-top: 40px;
}

.inner-page .main-header {
	margin-bottom: 44px;
}

.main-header-bar {
	padding-bottom: 18px;
	background-color: var(--special-yellow);
}

.inner-page .main-header-bar {
	padding-bottom: 50px;
}

.main-header .main-logo {
	position: absolute;
	top: -20px;
	left: 0;
}

.main-logo:hover,
.main-logo:focus {
	opacity: var(--low-opacity);
}

.main-logo:active {
	opacity: var(--mid-opacity);
}

/* Search */

.search-input,
.search-input::placeholder {
	font: inherit;
}

.search-input::placeholder {
	opacity: var(--mid-opacity);
}

.search-input:hover::placeholder,
.search-input:focus::placeholder {
	opacity: var(--low-opacity);
}

/* Navigation */

.main-navigation {
	position: relative;
	display: grid;
	padding-top: 44px;
}

.nav-section-top {
	display: grid;
	grid-template-columns: 500px 1fr;
	column-gap: 40px;
	align-items: center;
	margin-bottom: 50px;
}

.profile-navigation {
	margin: 0;
	padding: 0;
}

.site-navigation {
	margin: 0;
	padding: 0;
}

.nav-section-bottom .site-navigation {
	display: grid;
	grid-template-columns: 500px repeat(3, 1fr);
	column-gap: 40px;
}

.nav-section-bottom .site-navigation li:last-child {
	justify-self: end;
}

.profile-navigation,
.site-navigation {
	list-style: none;
}

.site-navigation a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;	
}

.profile-navigation a:hover,
.profile-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
	opacity: var(--low-opacity);
}

.profile-navigation a:active,
.site-navigation a:active {
	opacity: var(--mid-opacity);
}

/* Products */

.products {
	position: relative;
	margin-bottom: 76px;
	padding-bottom: 24px;
}

.products::before {
	content: "";
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 145px;
	background-color: var(--special-yellow);
}

.products-list {
	padding: 0;
	list-style: none;
}

.product-item {
	display: grid;
	grid-template-columns: max-content 1fr;
	column-gap: 100px;
}

.product-photo {
	width: 440px;
	padding-top: 17px;
	text-align: center;
}

.product-info {
	position: relative;
	padding-top: 110px;
}

.product-item h2 {
	position: absolute;
	top: -10px;
	right: -10px;
	margin: 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 179px;
	line-height: 219px;
	color: #fff;
}

.product-item .title-high {
	display: block;
	width: 430px;
	margin-bottom: 30px;
	letter-spacing: 0;
}

.product-descr {
	margin-bottom: 60px;
	line-height: 20px;
}

.product-info .btn {
	display: inline-block;
	margin-bottom: 60px;
}

.product-data ul {
	display: grid;
	grid-template-columns: 160px 140px 200px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.product-data li {
	display: grid;
}

.product-data b {	
	order: 1;
	display: block;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
}

.product-data p {
	margin: 0;
	margin-bottom: 15px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.1em;
}

/* Categories */

.categories {
	margin-bottom: 50px;
}

.categories-list {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 40px;
	padding: 20px 0;
	list-style: none;
}

.category-item a:hover .category-photo,
.category-item a:focus .category-photo {
	background-color: var(--special-yellow-dark);
}

.category-item a:active img,
.category-item a:active h3 {
	opacity: var(--mid-opacity);
}

.category-photo {
	background-color: var(--special-yellow);
	width: 160px;
	height: 160px;
	margin-bottom: 38px;
}

.category-photo img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.category-item h3 {
	margin: 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
}

/* Services */

.services {
	position: relative;
	margin-bottom: 90px;
	padding-top: 85px;
	padding-bottom: 130px;
	background-color: var(--basic-grey-light);
}

.services::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 115px;
	background-color: #fff;
}

.services .container1160 {
	display: grid;
	grid-template-columns: 280px auto;
	column-gap: 120px;
}

.services-list {
	z-index: 1;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	list-style: none;
}

.service-item {
	width: 160px;
	margin-bottom: 40px;
	text-align: center;
}

.service-item:last-child {
	margin-bottom: 0;
}

.service-info {
	position: relative;
}

.service-info img {
	position: absolute;
	top: 0;
	right: 0;
}

.service-info .title-high {
	margin: 0;
	margin-bottom: 40px;
}

.service-descr {
	width: 500px;
	margin: 0;
	line-height: 30px;
}

/* Partners */

.partners {
	margin-bottom: 90px;
}

.partners-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 40px;
	margin: 0;
	padding: 0;
	list-style: none;
}

/* About */

.about-and-contacts {
	display: grid;
	grid-template-columns: 500px auto;
	column-gap: 100px;
	margin-bottom: 86px;
	padding-top: 50px;
}

.about .title-high,
.contacts .title-high {
	margin: 0;
	margin-bottom: 50px;
}

.about p {
	margin: 0;
	line-height: 28px;
}

.about .about-descr-one {
	margin-bottom: 40px;
}

.about .about-descr-two {
	margin-bottom: 60px;
}

.about-delivery {
	margin: 0;
	margin-bottom: 84px;
	padding: 0;
	padding-left: 30px;
	list-style: none;
}

.about-delivery li {
	margin-bottom: 20px;
}

.about-delivery li:last-child {
	margin-bottom: 0;
}

.about-delivery a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 28px;
}

/* Contacts */

.contacts {
	display: grid;
	grid-template-rows: auto auto 1fr;
}

.contacts p {
	margin: 0;
	margin-bottom: 40px;
	line-height: 28px;
}

.map {
	background-color: var(--basic-grey-light);
}

/* Main Footer */

.main-footer {
	padding-top: 46px;
	padding-bottom: 65px;
	color: var(--basic-white);
	background-color: var(--basic-dark);
}

.main-footer a {
	color: var(--basic-white);
}

.footer-high {
	display: grid;
	grid-template-columns: auto auto;
	margin-bottom: 40px;
}

.footer-high a {
	opacity: 0.7;
}

.footer-high a:hover,
.footer-high a:focus {
	opacity: var(--no-opacity);
}

.footer-high a:active {
	opacity: var(--mid-opacity);
}

.footer-high .profile-navigation {
	text-align: right;
}

.footer-mid {
	display: grid;
	grid-template-columns: 260px 1fr 260px;
	margin-bottom: 65px;
}

.main-footer .site-navigation {
	justify-self: center;
	text-align: center;
}

.footer-phone {
	justify-self: end;
}

.footer-low {
	display: grid;
	grid-template-columns: 260px 1fr 260px;
	align-items: center;
}

.footer-social {
	grid-column-start: 2;
}

.footer-social ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.footer-copyright {
	justify-self: end;
}

/* Page Header */

.page-header {
	margin-bottom: 50px;
}

.page-header .title-high {
	margin: 0;
	margin-bottom: 30px;
	letter-spacing: 0;
}

/* Breadcrumbs */

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs a {
	opacity: var(--mid-opacity);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	opacity: var(--low-opacity);
}

.breadcrumbs a:active {
	opacity: var(--high-opacity);
}

/* Catalog Wrapper */

.catalog-top {
	position: relative;
	background-color: #dcdcdc;
}

.catalog-top .container1160 {
	display: grid;
	grid-template-columns: 268px auto;
	column-gap: 72px;
}

.catalog-top .container1160::before {
	content: "";
	position: absolute;
	top: 0;
	left: calc((100vw - (100vw - 100%) - 1040px) / 2 + 268px);
	height: 100%;
	width: calc((100vw - (100vw - 100%)) - ((100vw - (100vw - 100%) - 1040px) / 2) - 268px);
	background-color: #e5e5e5;
}

.catalog-bottom {
	position: relative;
}

.catalog-bottom::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: calc((100vw - (100vw - 100%) - 1040px) / 2);
	background-color: #e5e5e5;
}

.catalog-bottom .container1160 {
	display: grid;
	grid-template-columns: 328px auto;
	column-gap: 72px;
}

/* Filters */

.filters-header {
	display: grid;
	align-items: center;
	padding-left: 60px;
}

.filters {
	padding-top: 70px;
	padding-left: 60px;
	background-color: #e5e5e5;
}

.filters ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.filters li {
	margin-bottom: 15px;
}

.filters li:last-child {
	margin-bottom: 0;
}

.filter fieldset {
	margin-bottom: 38px;
	padding: 0;
	border: 0;
}

.filter fieldset:nth-child(3) {
	margin-bottom: 52px;
}

.filter legend {
	margin-bottom: 30px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.1em;
}

/* Sorter */

.sorter {
	z-index: 1;
	display: grid;
	grid-template-columns: 200px auto 1fr;
	align-items: center;
	min-height: 70px;
	padding-left: 60px;
	background-color: var(--basic-grey-light);
}

.sorter-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sorter-item a {
	font-size: 14px;
	opacity: var(--mid-opacity);
}

.sorter-item a:hover,
.sorter-item a:focus {
	opacity: var(--low-opacity);
}

.sorter-item a:active {
	opacity: var(--no-opacity);
}

.sorter-item-current a {
	opacity: var(--no-opacity);
}

/* Catalog */

.catalog {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 40px;
	padding: 68px 0 78px 0;
}

.catalog-item {
	margin-bottom: 48px;
}

.catalog-item h3 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
}

.catalog-item p {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.05em;
}

.catalog-item-links {
	display: none;
}

.btn-add-to-match {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.1em;
}

/* Pagination */

.pagination {
	grid-column-start: 1;
	grid-column-end: -1;
	display: grid;
	grid-template-columns: 120px 1fr 120px;
	align-items: center;
}

.pagination-list {
	justify-self: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination-link {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
}

.pagination-item a {
	opacity: var(--mid-opacity);
}

.pagination-item a:hover,
.pagination-item a:focus {
	opacity: var(--low-opacity);
}

.pagination-item .pagination-link-current,
.pagination-item a:active {
	opacity: var(--no-opacity);
}